<h2>These pets are looking for a home!</h2>

<button mat-raised-button
color="accent">

</button>

<a mat-raised-button
color="accent" routerLink="new" style="margin-bottom: 20px">Add a pet to the shelter</a>

<mat-accordion multi="true" *ngIf="pets">
  <mat-expansion-panel *ngFor="let pet of pets">
    <mat-expansion-panel-header>
      Name: {{pet.name}} <br> <br>
    </mat-expansion-panel-header>
    <p>
        Type:  {{pet.type}}
    </p>
    <mat-action-row>
        <button mat-button color="primary" routerLink="{{pet._id}}">Details</button>
        <button mat-button color="alert" routerLink="{{pet._id}}/edit">Edit</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<div class="info-text mat-body-1" *ngIf="!pets">
  <h3>
    No pets added yet!
  </h3>
</div>
